.header_logo__ {
  max-width: 41px;
  min-width: 41px;
  display: block;
  z-index: 1;
  flex-basis: content;
  margin-inline-end: 70px;

  @include md {
    margin-inline-end: 20px;
  }
  
  @include sm {
    max-width: 240px;
  }
  
  @include xs {
    max-width: 190px;
  }

  .figure__ {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: contain;
  }
}