@import "./toolbar/lang_link";
@import "./toolbar/login_buttons";
@import "./toolbar/user_info_links";

.toolbar_options__ {
  display: flex;
  align-items: center;
  padding: 0;
  // position: relative;
  z-index: 1;
  // margin-top: 10px;
  flex-wrap: nowrap;
  gap: 15px;

  .block__ {
    transition: 0.5s;

    &.lang_list_item__ {
      @include sm {
        position: absolute;
        top: 15px;
        inset-inline-start: 15px;
      }
    }

    
    &.log_out_item__ {
      margin-inline-start: 10px;

      .icon__ {
        transform: rotate(-90deg);
        
        @include dir {
          transform: rotate(90deg);
        }
      }
    }

    &.header_contacts__ {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &.small_size_only__ {
      display: none;

      @include sm {
        display: flex;
      }
    }
  }
}

// small size
@include sm {
  .toolbar_options__ {
    // margin-top: 20px;
    width: 100%;
    min-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;

    .block__ {
      &.language_item__ {
        position: absolute;
        top: 20px;
        inset-inline-start: 20px;

        .lang_link__ {
          font-size: 1.2rem;
          width: fit-content;

          &::after {
            display: none;
          }
        }
      }

      &.profile_item__ {
        width: 100%;

        .dropdown_button__  {
          width: 100%;
          justify-content: flex-start;
          background-color: rgba($secondaryColor , 0.2);
          font-weight: 700;
          // color: #fff !important;
        }
      }

      &.sing_up_blocks_list_item__ {
        width: 100%;
      }

      &.search_item__ {
        min-width: 100%;
      }
    }
  }
}
