.menu_button__ {
  display: none;

  @include sm {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($primaryColor, 0.1);
    position: relative;
    width: 40px;
    height: 40px;
    color: $primaryColor;
    border-radius: 50%;

    svg {
      width: 20px;
    }
  }
}