.profile_link__ {
  background-color: transparent !important;
  padding: 0.5rem;

  .figure__ {
    border-radius: 50%;
    overflow: hidden;
    min-width: 30px;
    aspect-ratio: 1 / 1;
    padding-bottom: 34px;
    filter: unset !important;
  }

  .user_dropdown__ {
    box-shadow: 0 0 60px rgba(#686868, 0.34);
    padding: 1.2rem;
    height: 46px;
    margin-inline-end: 1.2rem;
    padding-inline-end: 7rem;
    position: relative;

    &::after {
      content: url(../images/shapes/arrow_down.svg);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-end: 15px;
      height: 24px;
      width: 24px;
    }
  }

  &:hover {
    .figure__ {
      filter: unset !important;
    }
  }

  .dropdown_menu__ {
    width: 100%;

    .link__,
    .button__ {
      color: $secondaryColor;

      &:hover {
        color: #fff !important;

        &::before {
          filter: brightness(0) invert(1) !important;
        }
      }

      &::before {
        margin-inline-end: 0.5rem;
        width: 18px;
        height: 18px;
      }

      &.profile__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/profile.svg);
        }
      }

      &.modify_password__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/modify_password.svg);
        }
      }

      &.favorites__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/favorites.svg);
        }
      }

      &.interests_and_ignoring__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/interests.svg);
        }
      }

      &.messages__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/messages.svg);
        }
      }

      &.prpofile_visits__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/profile_visits.svg);
        }
      }

      &.notifications__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/notifications.svg);
        }
      }

      &.packages__ {
        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/packages.svg);
        }
      }

      &.logout__ {
        color: $redColor;

        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/logout.svg);
          margin-inline-start: -0.5rem;
          margin-inline-end: 1rem;
        }

        &:hover {
          background-color: $redColor !important;
          color: #fff !important;

          &::before {
            filter: brightness(0) invert(1) !important;
          }
        }
      }

      &.delete_account__ {
        color: $redColor;

        &::before {
          content: url(../images/shapes/info_dropdown_links_shapes/delete_account.svg);
          margin-inline-start: -0.5rem;
          margin-inline-end: 1rem;
        }

        &:hover {
          background-color: $redColor !important;
          color: #fff !important;

          &::before {
            filter: brightness(0) invert(1) !important;
          }
        }
      }
    }
  }
}
