.input__ {
  height: $inputHeight;
  border: solid 1px $borderColor;
  background-color: $inputBackgroundColor;
  outline: none;
  width: 100%;
  font-size: $inputFontSize;
  color: $inputPlaceholderColor;
  padding: 20px 29px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-radius: $mainBorderRadius;

  &:focus,
  &:hover {
    border-color: $primaryColor;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &[type=tel] {
    direction: rtl;

    @include dir {
      direction: ltr;
    }
  }

  &::placeholder {
    font-size: 1.4rem;
    font-weight: 300;
    color: $inputPlaceholderColor;
    opacity: 1;
    transition: 0.5s;
  }

  &:focus {
    &::placeholder {
      opacity: 0;
    }

    // &:invalid {
    //   border-color: $redColor;
    // }

    // &:valid {
    //   border-color: $greenColor;
    // }
  }

  &.magin_bottom {
    margin-bottom: 24px;
  }
  
  &.grey_background {
    background-color: $inputGreyBackgroundColor;

    &::placeholder {
      color: #6D6D6D;
    }
  }

  &.colored_white__ {
    color: #fff;
    border-color: #fff;

    &::placeholder {
      color: #fff;
    }
  }
}
