.hero_sec__ {
  .hero_content__ {
    position: relative;

    .figure__ {
      padding-bottom: 49.317%;
      border-radius: $thirdBorderRadius;
      overflow: hidden;

      @include sm {
        padding-bottom: 50vh;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba($primaryColor, 0) 0%, rgba($secondaryColor, 0.55) 70% , $secondaryColor 100%);
        box-shadow: 0 0 50px rgba(#000 , 0.05);
      }
    }

    .hero_text__ {
      position: absolute;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
      max-width: 740px;
    }

    .title__ {
      color: #fff;
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 3.3rem;

      @include sm {
        font-size: 2.5rem;
      }

      .shape {
        position: relative;

        &:before {
          content: url('../images/shapes/hero_shape.png');
          position: absolute;
          inset-inline-start: 0;
          bottom: 0;
          height: 15px;
          width: 100%;
          max-width: 100%;

          @include sm {
            display: none;
          }
        }
      }
    }

    .parag__ * {
      color: #fff;
      font-size: 2.2rem;
      font-weight: 400;
      max-width: 80%;
      margin: 0 auto;

      @include sm { 
        font-size: 1.6rem;
      }
    }
  }
}

.about_sec__ {


  .main_parag__ * {
    color: $paragraphMainColor;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 2.7rem;
  }

  .parag__ * {
    color: $paragraphMainColor;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
  }
}

.search_for_partner_sec__ {
  background-color: rgba($primaryColor , 0.12);
  position: relative;
  height: 720px;
  overflow: hidden;

  @include xs {
    height: auto;
  }

  &::after , 
  &::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.15;

    @include xxs {
      display: none;
    }

  }

  &::after {
    content: url('../images/search_your_partner/search_your_partner_1.webp');
    inset-inline-start: 0;
  }

  &::before {
    content: url('../images/search_your_partner/search_your_partner_2.webp');
    inset-inline-end: 0;
  }
}

.our_latest_subscribers_sec__{
  .swiper-container {
    position: relative;
    padding: 4rem 0;

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 100%;
  //     width: 200%;
  //     height: 100%;
  //     background: linear-gradient(90deg, transparent 0%, #fff 10%);
  //     z-index: 10;
  // }
  }
}