.registeration_page__ {
  padding-top: 4.4rem;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;
  min-height: 50vh;

  @include sm {
    padding: 50px 0;
  }
}

.registeration_image {
  max-width: 180px;
  max-height: 120px;
  margin: 0;

  @include sm {
    margin: 0 auto;
  }
}


.register_figure__ {
  margin-bottom: 50px !important;
}

.second_registration_title__{
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-inline-end: 1rem;
}

.form_label_for_info_group__ {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  font-size: 1.6rem;
}

.code_shapes__ {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  direction: ltr;
  position: relative;
  width: 100%;
  margin-bottom: 26px;
  gap: 8px;

  .code-input {
    text-align: center;
    width: 46px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $mainBorderRadius;
    border: 1px solid $borderColor;
    font-size: 3.3rem;
    font-weight: 700;
    color: $secondaryColor;
    font-family: sans-serif;
    outline: none;
    background-color: rgba(#fff, 0.1);
    caret-color: #fff;
    transition: 0.5s;

    &.active {
      background-color: $secondaryColor;
      color: $primaryColor;
    }
  }
}

.registeration_title_wrapper__ {
  margin-bottom: 45px;

  @include sm {
    margin-bottom: 25px;
  }

  @include xs {
    margin-bottom: 15px;
  }

  &.center {
    .registeration_title,
    .registeration_sub_title {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  // #########################################
  .registeration_title {
    font-size: 2.3rem;
    font-weight: 600;
    width: fit-content;
    color: $primaryColor;
    margin-bottom: 30px;

    @include sm {
      text-align: center;
      margin: 0 auto;
    }
    
    @include xs {
      font-size: 1.8rem;
    }
  
    &.none_margin {
      margin-bottom: 0;
    }
  
    &.small_margin_bottom__  {
      margin-bottom: 15px;
    }
  }
  
  .registeration_sub_title {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    margin: 0;

    @include sm {
      text-align: center;
    }
    
    @include xs {
      font-size: 1.2rem;
    }
  }
}

.verification_mail_title__ {
  font-size: 1.6rem;
  font-weight: 300;
  color: $paragraphMainColor;
  text-align: center;
  direction: ltr;
  margin-top: 1rem;
  color: $primaryColor;
  font-weight: 700;
}

.registeration_image_wrapper__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  height: 100%;
}