.footer_sec__ {
  position: relative;
  background-blend-mode: overlay;
  background-size: cover;
  background-color: rgba($primaryColor, 1);
  border-radius: 50px 50px 0 0;
  padding-top: 50px;
  overflow: hidden;
}

.footer_logo__ {
  margin-bottom: 15px;
  max-width: 55px;
  max-height: 35px;

  @include xs {
    .figure__ {
      width: fit-content !important;
      margin: 0 auto;
      margin-bottom: 1.5rem;
    }
  }
}

.footer_head__ {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2.5rem;

  @include xs {
    text-align: center;
  }
}

.footer_list__ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin: 0 auto;
  gap: 2rem;
  margin-bottom: 40px;
  padding: 0;

  @include xs {
    gap: 10px;
  }

  a {
    font-size: 1.4rem;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    display: flex;
    align-items: center;
    text-align: start;
    gap: 1.5rem;

    &::before {
      content: "";
      width: 11px;
      height: 11px;
      background-color: transparent;
      border: 2px solid #fff;
      border-radius: 50%;
      transition: 0.5s;
    }

    &:hover {
      padding-inline-start: 10px;
      opacity: 1;
    }
  }
}

.footer_socials__ {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(36px, 1fr));
  gap: 1.5rem;

  @include xs {
    justify-content: center;
  }

  .link__ {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 71px;
    transition: 0.5s;
    background-color: rgba(#fff, 0.2);
    border: 1px solid transparent;
    border-radius: $mainBorderRadius;
    padding: 8px;

    img {
      filter:brightness(0) invert(1);
      max-width: 14px;
      max-height: 14px;
    }

    &:hover {
      background-color: #fff;

      img {
        filter: none;
      }
    }
  }
}

.copyrights_content___ {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;
  color: #fff;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  border: 0;

  @include sm {
    padding: 20px 0;
    justify-content: center;
  }


  .copyright_icon__ {
    margin-inline-end: 5px;
  }
}
