@import "forms/input_block";
@import "forms/textarea_block";
@import "forms/select_block";
@import "forms/checkbox_input";
@import "forms/radio_input";
@import "forms/datepicker";
@import "forms/gender_radio";

.validation_text {
  font-size: 1.3rem;
  font-weight: 400;
  color: $redColor;
  margin-bottom: 10px;
}

.input_wrapper {
  width: 100%;
}

.main_form__ {
  max-width: 928px;
  margin-left: auto;
  margin-right: auto;
}

.second_form__ {
  max-width: 298px;
  margin-left: auto;
  margin-right: auto;
}

.search_for_partner_form__ {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.form_wrapper__ {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 25px;

  @include sm {
    padding: 20px;
    border-radius: 20px;
  }
}

.form_image__ {
  margin-bottom: 45px !important;

  @include xs {
    margin-bottom: 25px !important;
  }
}

.registeration_page_title_wrapper__ {
  margin-bottom: 40px !important;

  .section_sub_title__ {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  .mail__ {
    margin-top: 10px;
  }
}

.input_group__ {
  margin-bottom: 10px;

  &.flex_group__ {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }

    &.group_gap__ {
      gap: 15px;
    }

    &.small_group_gap {
      gap: 15px;
    }

    &.center {
      justify-content: center;
      margin-inline-start: auto;
      margin-inline-end: auto;
    }

    &.half_width__ {
      width: 50%;
    }

    &.full_width_xs_screen__ {
      @include xs {
        min-width: 100%;
      }
    }

    .select__,
    .input__ {
      min-width: calc(50% - 10px) !important;
    }
  }

  &.fixed_width__ {
    width: 352px;
  }

  &.flex_dir_col_xxs_screen__ {
    @include xxs {
      flex-direction: column;
    }
  }

  &.flex_dir_col_xs_screen__ {
    @include xs {
      flex-direction: column;
    }
  }

  &.none_margin__ {
    margin: 0;
  }

  &.margin_top {
    margin-top: 60px;
  }

  &.full_width__ {
    width: 100%;
  }

  &.date_input__ {
    position: relative;

    &::after {
      content: url(../images/shapes/date_input_icon.svg);
      position: absolute;
      top: 50%;
      inset-inline-end: 37px;
      transform: translateY(-43%);
    }
  }
}

.final_buttons_wrapper__ {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_group_unit__ {
  display: flex;
  align-items: center;

  .input__ {
    border-radius: 0 $mainBorderRadius $mainBorderRadius 0;

    @include dir {
      border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    }
  }

  .unit__ {
    min-width: 67px;
    height: 56px;
    border-radius: $mainBorderRadius 0 0 $mainBorderRadius;
    border: 1px solid $borderColor;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
  }
}

.password-group-om {
  position: relative;

  .input__ {
    padding-inline-end: 40px;
  }

  .show-password-button-om {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    outline: none;
    width: 36px;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #969696;

    @include dir {
      left: unset;
      right: 0;
    }

    &:focus {
      outline: none;
    }

    &.show-om {
      .icon__ {
        path {
          stroke: $primaryColor;
        }
      }
    }
  }
}

.custom_input_group__ {
  border: 1px solid $borderColor;
  border-radius: $mainBorderRadius;
  height: 46px;

  .input__,
  .textarea-om,
  .dropdown-toggle {
    padding-inline-start: 0 !important;
    border: 0;
    background-color: transparent !important;
    width: 100%;
    height: 20px;
    padding: 0;
    width: 100%;
    font-size: 1.4rem !important;
  }

  .input__ {
    margin-bottom: 5px;
    border-radius: 0 !important;
  }

  .dropdown-toggle {
    margin-top: -8px;
  }

  .label__ {
    font-size: 1.2rem;
    font-weight: 300;
    color: $headingMainColor;
    margin: 0;
  }

  .input_label_wrapper__ {
    padding-inline-start: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

.icon_input_group {
  position: relative;

  .input__,
  .textarea-om,
  .dropdown-toggle {
    padding-inline-start: 60px;
  }

  &::after {
    position: absolute !important;
    width: 29px !important;
    height: 29px !important;
    top: 50% !important;
    inset-inline-start: 27px !important;
    transform: translateY(-50%) !important;
    // filter: grayscale(1);
    pointer-events: none;
  }

  &.name__ {
    &::after {
      content: url(../images/shapes/inputs_icons/user.svg);
    }
  }

  &.phone__ {
    &::after {
      content: url(../images/shapes/inputs_icons/input_phone_icon.svg);
    }
  }

  &.password__ {
    &::after {
      content: url(../images/shapes/inputs_icons/password.svg);
    }
  }

  &.textarea__ {
    &::after {
      content: url(../images/shapes/inputs_icons/textarea.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.account_type {
    &::after {
      content: url(../images/shapes/inputs_icons/account_type.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.sector__ {
    &::after {
      content: url(../images/shapes/inputs_icons/sector__.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.company_name__ {
    &::after {
      content: url(../images/shapes/inputs_icons/company_name__.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.commercial_registration_no {
    &::after {
      content: url(../images/shapes/inputs_icons/commercial_registration_no.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.mail__ {
    &::after {
      content: url(../images/shapes/inputs_icons/mail__.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.search__ {
    &::after {
      content: url(../images/shapes/inputs_icons/search__.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.location__ {
    &::after {
      content: url(../images/shapes/inputs_icons/location__.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.company_name {
    &::after {
      content: url(../images/shapes/inputs_icons/company_name.svg);
      top: 20px;
      transform: unset;
    }
  }

  &.commercial_registration_number {
    &::after {
      content: url(../images/shapes/inputs_icons/commercial_registration_number.svg);
      top: 20px;
      transform: unset;
    }
  }

  &:focus-within {
    &::after {
      filter: none;
    }
  }
}

.price__ {
  font-size: 1.8rem;
  color: $primaryColor;
  margin: 0;
  font-weight: 700;

  &.grey_color__ {
    color: $paragraphMainColor;
  }
}

.inputs_wrapper__ {
  display: flex;
  align-items: center;
  gap: 13px;

  &.with_margin_top {
    margin-top: 20px;
  }

  &.search_inputs_wrapper {
    @include sm {
      flex-wrap: wrap;
    }
  }
}

// .rating_section_form {
//   max-width: 352px;
//   margin: 0 auto;
// }

// .upload_photo__ {
//   display: flex;
//   align-items: center;
//   position: relative;
//   cursor: pointer;
//   gap: 15px;

//   .img_wrapper__ {
//     width: 93px;
//     height: 63px;
//     border: 1px solid transparent;
//     background-color: rgba(#fff , 0.1);
//     border-radius: 13px;
//     overflow: hidden;
//     position: relative;

//     .figure__ {
//       height: 100%;

//     }

//     img {
//       display: none;
//     }

//     &::after {
//       content: url('../images/shapes/upload_file_icon.svg');
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       top: 0;
//       left: 0;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       padding-top: 8px;
//     }

//     &.uploaded__ {
//       img {
//         display: block;
//       }

//       &::after {
//         opacity: 0;
//         transition: 0.5s;
//       }

//       &:hover {
//         &::after {
//           opacity: 1 !important;
//           background-color: rgba($primaryColor , 0.36);
//           padding: 0;
//         }
//       }
//     }
//   }

//   .title__ {
//     font-size: 1.4rem;
//     color: #fff;
//     font-weight: normal;
//     margin-bottom: 12px;
//   }

//   .sub_title__ {
//     color: #fff;
//     font-weight: 300;
//     font-size: 1.2rem;
//   }

//   .file_input__ {
//     visibility: hidden;
//     opacity: 0;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//   }

//   &.with_margin_bottom {
//     margin-bottom: 20px;
//   }

//   &.profile_photo {
//     margin: 0 auto;
//     width: fit-content;
//     flex-direction: column;

//     .img_wrapper__ {
//       width: 100px;
//       height: 100px;
//       border-radius: 50%;
//     }

//     .title__  {
//       text-align: center;
//       color: $primaryColor;
//       font-size: 1.8rem;
//       font-weight: 500;
//     }
//   }
// }

.buttons_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  &.margin_bottom {
    margin-bottom: 30px;
  }

  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  &.content_space_between {
    justify-content: space-between;
  }

  &.items_width_same__ {
    a,
    button,
    div {
      width: 50%;
    }
  }

  &.with_margin_top {
    margin-top: 10px;
  }
}

// .uploaded_files {
//   display: flex;
//   gap: 10px;
// }

// .map__ {
//   &.add_product_map {
//     position: relative;

//     iframe {
//       width: 100%;
//       max-height: 163px;
//       border-radius: $mainBorderRadius;
//     }

//     .map_label__ {
//       position: absolute;
//       top: 0;
//       inset-inline-start: 0;
//       background-color: $secondaryColor;
//       color: $primaryColor;
//       font-size: 1.4rem;
//       font-weight: 400;
//       padding: 1.5rem 2.5rem;
//       border-end-end-radius: $mainBorderRadius;
//     }
//   }

//   &.real_estate_page_map__ {
//     margin-bottom: 1.5rem;

//     iframe {
//       width: 100%;
//       max-height: 116px;
//       border-radius: $mainBorderRadius;
//     }
//   }

// }

.upload_photo__ {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 15px;

  .img_wrapper__ {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid $borderColor;
    overflow: hidden;
    position: relative;

    .figure__ {
      height: 100%;
    }

    img {
      display: none;
    }

    &::after {
      content: url("../images/shapes/upload_file_icon.svg");
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 8px;
    }

    &.uploaded__ {
      img {
        display: block;
      }

      &::after {
        content: url("../images/shapes/upload_file_icon_white.svg");
        opacity: 0;
        transition: 0.5s;
      }

      &:hover {
        &::after {
          opacity: 1 !important;
          background-color: rgba($primaryColor, 0.26);
          padding: 0;
        }
      }
    }
  }

  .title__ {
    font-size: 1.4rem;
    color: $headingMainColor;
    font-weight: normal;
    margin-bottom: 12px;
  }

  .sub_title__ {
    font-weight: 300;
    font-size: 1.2rem;
  }

  .file_input__ {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.id_image__ {
    .img_wrapper__ {
      width: 130px;
      height: 80px;
      border-radius: 1.5rem;
      border: 1px solid $borderColor;
    }
  }

  &.with_margin_bottom {
    margin-bottom: 20px;
  }
}

.title_register_info {
  font-size: 1.5rem;
  font-weight: 700;
  color: #888888;
  margin-bottom: 30px;
}

.links_form__ {
  background-color: rgba(#000, 0.04);
  padding: 40px 25px;
  border-radius: 18px;

  @include sm {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .link_form {
    display: flex;
    align-items: center;
    gap: 20px;

    @include sm {
      flex-direction: column;
      justify-content: center;
    }

    .link__ {
      color: $secondaryColor;
      font-size: 1.4rem;
      font-weight: 400;

      @include sm {
        text-align: center;
      }
    }

    .circle_ {
      @include circle(24px);
      display: block;
      background-color: #f5f5f5;
      border: 1px solid #707070;
      transition: 0.5s;
      position: relative;
      flex-shrink: 0;
      z-index: 5;

      &::after {
        display: block;
        position: absolute;
        content: "";
        width: 2px;
        height: 31px;
        top: 100%;
        inset-inline-end: 50%;
        transform: translateX(-50%);
        border: 2px dotted #cfcfcf;
        border-spacing: 10px;
        z-index: 1;

        @include sm {
          height: 2px;
          width: 82px;
          top: 50%;
          inset-inline-start: 100%;
          transform: translateY(-50%);
        }

        @include xs {
          width: 70px;
        }

        @include xxs {
          width: 35px;
        }
      }
    }

    &:last-child {
      .circle_ {
        &::after {
          display: none;
        }
      }
    }

    &.active {
      .circle_ {
        background-image: url(../images/shapes/checkbox.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border: none;

        &::after {
          border: 2px solid $greenColor;
        }
      }

      .link__ {
        font-weight: 700;
      }
    }
  }
}
