.button__ {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  height: 54px;
  color: #fff;
  font-weight: 500;
  transition: 0.5s;
  font-size: 1.6rem;

  .icon__ {
    flex-shrink: 0;
    transition: 0.5s;
  }

  &:focus {
    // border: none;
    outline: none;
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  &.default_cursor {
    cursor: default !important;
  }

  // ===================================================================
  // Center
  // ===================================================================

  &.center {
    margin: 0 auto;
  }

  &.center_md {
    @include md {
      margin: 0 auto;
    }
  }

  &.center_sm {
    @include sm {
      margin: 0 auto;
    }
  }

  &.center_xs {
    @include xs {
      margin: 0 auto;
    }
  }

  &.center_xxs {
    @include xxs {
      margin: 0 auto;
    }
  }

  // ===================================================================
  // Size
  // ===================================================================

  &.full_width {
    width: 100%;
    min-width: 100%;
  }

  &.full_width_md {
    @include md {
      width: 100%;
      min-width: 100%;
    }
  }

  &.full_width_sm {
    @include sm {
      width: 100%;
      min-width: 100%;
    }
  }

  &.full_width_xs {
    @include xs {
      width: 100%;
      min-width: 100%;
    }
  }

  &.full_width_xxs {
    @include xxs {
      width: 100%;
      min-width: 100%;
    }
  }

  &.half_width {
    width: 50%;
  }

  &.half_width_md {
    @include md {
      width: 50%;
    }
  }

  &.half_width_sm {
    @include sm {
      width: 50%;
    }
  }

  &.half_width_xs {
    @include xs {
      width: 50%;
    }
  }

  &.half_width_xxs {
    @include xxs {
      width: 50%;
    }
  }

  // ===================================================================
  // Fixed Width & Height
  // ===================================================================

  &.fixed_size__ {
    min-width: 183px;
    max-width: 183px;
  }

  &.w_fit_content {
    width: fit-content;
  }

  &.h_fit_content {
    height: fit-content;
  }

  // ===================================================================
  // Margin
  // ===================================================================
  &.margin_start_auto__ {
    margin-inline-start: auto;
  }

  // ===================================================================
  // Icon
  // ===================================================================
  &.scale_icon_on_hover {
    &:hover {
      .icon__ {
        transform: scale(1.1);
      }
    }
  }

  &.icon_dir {
    .icon__ {
      @include dir {
        transform: rotate(180deg);
      }
    }
  }

  // ===================================================================
  // Colors
  // ===================================================================

  &.primary__ {
    background-color: $primaryColor;
    border-color: $primaryColor;

    &.outline__ {
      color: $primaryColor;

      &:hover {
        background-color: rgba($primaryColor, 0.1) !important;
      }
    }

    &.none_background {
      color: $primaryColor;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.secondary__ {
    background-color: $secondaryColor;
    border-color: $secondaryColor;

    &.outline__ {
      color: $secondaryColor;

      &:hover {
        background-color: rgba($secondaryColor, 0.1) !important;
      }
    }

    &:hover {
      background-color: rgba($secondaryColor, 0.9);
    }
  }

  &.red__ {
    background-color: $redColor;
    border-color: $redColor;

    &.outline__ {
      color: $redColor;

      &:hover {
        background-color: rgba($redColor, 0.1) !important;
      }
    }

    &:hover {
      background-color: rgba($redColor, 0.9);
    }
  }

  &.green__ {
    background-color: $greenColor;
    border-color: $greenColor;

    &.outline__ {
      color: $greenColor;

      &:hover {
        background-color: rgba($greenColor, 0.1) !important;
      }
    }

    &:hover {
      background-color: rgba($greenColor, 0.9);
    }
  }

  &.grey__ {
    background-color: $greyColor;
    border-color: $greyColor;

    &.outline__ {
      color: $greyColor;

      &:hover {
        background-color: rgba($greyColor, 0.1) !important;
      }
    }

    &:hover {
      background-color: rgba($greyColor, 0.9);
    }
  }

  &.orange__ {
    background-color: $orangeColor;
    border-color: $orangeColor;

    &.outline__ {
      color: $orangeColor;

      &:hover {
        background-color: rgba($orangeColor, 0.1) !important;
      }
    }

    &:hover {
      background-color: rgba($orangeColor, 0.9);
    }
  }

  &.yellow__ {
    background-color: $yellowColor;
    border-color: $yellowColor;

    &.outline__ {
      color: $yellowColor;

      &:hover {
        background-color: rgba($yellowColor, 0.1) !important;
      }
    }

    &:hover {
      background-color: rgba($yellowColor, 0.9);
    }
  }

  // ===================================================================
  // Outline
  // ===================================================================
  &.outline__ {
    background-color: transparent !important;
  }

  &.none_background {
    background-color: transparent !important;
    border: none !important;
  }

  // ===================================================================
  // Border Radius
  // ===================================================================
  &.main_rounded__ {
    border-radius: $mainBorderRadius;
  }

  &.secondary_rounded__ {
    border-radius: $secondaryBorderRadius;
  }

  &.third_rounded__ {
    border-radius: $thirdBorderRadius;
  }

  &.full_rounded__ {
    border-radius: 50%;
  }

  // ===================================================================
  // Other
  // ===================================================================

  &.submit_button__,
  input[type="submit"] {
    height: 66px;
    color: $secondaryColor;
    padding: 0 20px;
    font-size: 1.7rem;
    font-weight: 700;
    background-color: $primaryColor;
    border-radius: $mainBorderRadius;

    &:hover {
      background-color: rgba($primaryColor, 0.9);
    }
  }

  &.search_for_partner_button__ {
    font-size: 1.4rem;
    font-weight: 700;
  }

  &.add_to_fav__ {
    svg {
      path {
        transition: all 0.5s;
      }
    }

    &.active {
      svg {
        path {
          fill: $redColor !important;
          stroke: $redColor !important;
        }
      }
    }

    &:hover {
      svg {
        path {
          fill: rgba(#fff, 0.2);
        }
      }
    }
  }

  &.sign_up_terms_modal_button {
    color: $headingMainColor;
    font-size: 1.4rem;
    height: fit-content;

    &:hover {
      color: $primaryColor;
      text-decoration: underline;
    }
  }

  &.blog_card_button {
    position: absolute;
    height: 100px;
    align-items: flex-end;
    padding: 2.5rem 0;
    width: 100%;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba($primaryColor, 0.15);
    border-radius: 0 0 $mainBorderRadius $mainBorderRadius;
    color: $primaryColor;
    font-size: 1.6rem;
    font-weight: 700;

    @include xs {
      opacity: 1;
      bottom: -7rem;
    }

    &:hover {
      opacity: 1;
      bottom: -7rem;
    }
  }

  &.dropdown_button__ {
    color: $headingMainColor;

    // &.user_dropdown__ {
    //   box-shadow: 0 0 60px rgba(#686868 , 0.34);
    //   padding: 1.2rem;
    //   height: 46px;
    //   margin-inline-end: 1.2rem;
    //   padding-inline-end: 7rem;
    //   position: relative;

    //   &::after {
    //     content: url(../images/shapes/arrow_down.svg);
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //     inset-inline-end: 15px;
    //     height: 24px;
    //     width: 24px;
    //   }

    //   .figure__ {
    //     width: 30px;
    //     height: 30px;
    //     max-width: 30px;
    //     min-width: 30px;
    //     max-height: 30px;
    //     min-height: 30px;
    //     border-radius: 50%;
    //     overflow: hidden;
    //   }
    // }
  }

  &.toggle_chat_contacts {
    font-size: 1.3rem;
    font-weight: 500;
    border: 1px solid $primaryColor;
    color: $primaryColor;
    border-radius: $mainBorderRadius;
    padding: 1rem 2rem;
  }

  &.close_chat_contacts,
  &.toggle_chat_contacts {
    display: none;

    &::after,
    &::before {
      background-color: $secondaryColor;
    }

    @include sm {
      display: block;
    }
  }

  &.chat_delete__ {
    padding: 0 1.5rem;
  }

  &.hero_button {
    width: 172px;
    background-color: #fff;
    color: $primaryColor;
    border-radius: $mainBorderRadius;
    font-weight: 700;
    transform: translateY(1.5rem);

    &:hover {
      background-color: $primaryColor;
      color: #fff;
    }
  }
}
