.close-button__ {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  top: 14px;
  left: 20px;

  &:hover,
  &:focus {
    outline: none;
  }

  @include dir {
    right: 20px;
    left: unset;
  }

  &::after,
  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    position: absolute;
    background-color: $secondaryColor;
    top: 4px;
    right: 10px;
    transform: rotate(-45deg);
    transition: 0.2s;
  }

  &::before {
    transform: rotate(45deg);
  }
}
