// URW Fonts
@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/Thin-250.ttf");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/XLight-275.ttf");
  font-weight: 275;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/Light-300.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/Regular-400.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/Medium-500.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/Demi-600.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/Bold-700.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $mainFontFamily;
  src: url("../fonts/URW/Black-800.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}