/*loading*/

/*lazyload*/
.loading-omd {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb;
  background: linear-gradient(70deg, #e5e7eb 25%, #fff 50%, #e5e7eb 75%);
  background-size: 200% 100%;
  animation: loading 1s infinite ease-in-out;
  content: "";

  img {
    opacity: 0 !important;
    filter: blur(40px);
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
