// =========================================
// Main colors
// =========================================
$primaryColor:  #C6A365;
$secondaryColor: #1F1B20;

// =========================================
// Other Colors
// =========================================
$greyColor: #9B9B9B;
$secondaryGreyColor: #F2F2F2;
$greenColor: #3CAD03;
$redColor: #DC0943;
$orangeColor: #EFB104;
$yellowColor: #E8C100;
$borderColor: #ddd;
$mainPageBackground: #fff;

// =========================================
// Input Styles
// =========================================
$inputPlaceholderColor: #1F1B20;
$inputBackgroundColor: transparent;
$inputHeight: 54px;
$inputFontSize: 1.4rem;
$inputGreyBackgroundColor: #F1F1F1;

// =========================================
// Brands Colors
// =========================================
$twitterColor: #14171a;
$twitterSecondaryColor: #1da1f2;
$facebookColor: #1877f2;
$linkedinColor: #0a66c2;
$whatsappColor: #075e54;
$instagramColor: #405de6;
$instagramSecondaryColor: #fd1d1d;
$snapchatColor: #fffc00;

// =========================================
// Teypgraphy
// =========================================
$mainFontFamily: 'URW';

// =========================================
// Head colors
// =========================================
$headingMainColor: #1F1B20;
$headingSecondaryColor: #222F35;
$headingThirdColor: #17355A;

// =========================================
// Paragraph Colors
// =========================================
$paragraphMainColor: #1F1B20;
$paragraphSecondaryColor: #ADADAD;

// =========================================
// Border Radius
// =========================================
$mainBorderRadius: 27px;
$secondaryBorderRadius: 23px;
$thirdBorderRadius: 50px;

// =========================================
// Direction
// =========================================
$dir: "ltr";
