.blog_card__ {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // height: 100%;
  // overflow: hidden;
  // padding-bottom: 105.198019%;
  min-height: 425px;
  border-radius: $mainBorderRadius;
  margin-bottom: 7rem;
  
  
  .figure__ {
    position: absolute;
    inset: 0;
    z-index: 2;
    padding-bottom: 105.198019%;
    padding-bottom: 425px;
    height: 100%;
    max-height: 425px;
    border-radius: $mainBorderRadius;
    overflow: hidden;

    &::after {
      content: '';
      inset: 0;
      position: absolute;
      border-radius: $mainBorderRadius;
      background: linear-gradient(180deg, transparent 0%, #000 100%);
    }
  }

  .card_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem 2.4rem;
    position: relative;
    z-index: 3;

    .title__ {
      font-size: 2rem;
      font-weight: 700;
      color: #fff;
      margin-bottom: 2rem;
    }

    .time__ {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.2rem;
      font-weight: 400;
      color: #fff;
      margin-bottom: 1.5rem;
      
      .icon__ {
        width: 18px;
        height: 18px;
        max-width: 18px;
        max-height: 18px;
      }
    }

    .parag__ {
      * {
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
        margin: 0;
      }
    }
  }

  &:hover {
    text-decoration: none;

    .img-om {
      transform: scale(1.1) rotate(5deg);
    }

    .blog_card_button{
      opacity: 1;
      bottom: -7rem;
    }
  }
}