.modal {
  top: 10vh;
  // position: fixed;
  overflow: hidden !important;

  @include xs {
    top: 5vh;
  }

  .modal-content {
    padding: 4.2rem 4rem;
    border-radius: $mainBorderRadius;
    border: none;
  }

  .close_modal_button {
    position: absolute;
    top: 10px;
    inset-inline-start: 20px;

    .icon__ {
      max-width: 35px;
      min-width: 35px;
      max-height: 35px;
      min-height: 35px;
    }

    &:focus {
      outline: none;
    }
  }
}

// #person_modal {
//   top: 5vh;
//   max-height: 90vh;
//   overflow: hidden;

//   @include xs {
//     max-height: 80vh;
//   }

//   .content_wrapper__ {
//     max-height: 60vh;
//     overflow-y: scroll;
//     padding-inline-end: 1rem;
//   }
// }

.modal-backdrop {
  background-color: rgba($secondaryColor, 0.5) !important;
  opacity: 0.78 !important;
}

.modal-open .container-fluid,
.modal-open .container {
  filter: blur(5px) grayscale(60%);
}

.modal-dialog {
  max-width: 790px;
  margin: 0 auto;

  &.small_width {
    max-width: 340px;
  }
}

.modal_block__ {
  .head_wrapper__ {
    display: flex;
    margin-bottom: 2rem;

    @include xs {
      flex-direction: column;
    }
  }

  .info_title_wrapper__ {
    width: 100%;
  }

  .title_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 2rem;

    &.center {
      text-align: center;
    }

    &.margin_top {
      margin-top: 1.5rem;
    }
  }

  .sub_title__ {
    font-size: 1.4rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    margin-bottom: 1rem;

    &.center {
      text-align: center;
    }
  }

  .gender_text__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $paragraphSecondaryColor;
  }

  .info_wrapper {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    @include xs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      .person_info {
        width: 100%;
      }
    }
  }

  .body_wrapper__ {
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;

    @include xs {
      max-height: 27vh;
    }

    // scrollbar
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $primaryColor;
      border-radius: $mainBorderRadius;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }
  }
}
