.chat_contact_card__ {
  background-color: transparent;
  border-radius: 0 !important;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  .img_wrapper__ {
    position: relative;
  }

  .time__ {
    margin-bottom: 1rem;

    img {
      width: 16px;
      height: 16px;
      max-width: 16px;
      max-height: 16px;
    }
  }


  &:not(:last-of-type) {
    border-bottom: 1px solid $borderColor;
  }
  
  &:hover {
    background-color: rgba($secondaryColor , 0.05) !important;
  }
}