.chat_content__ {
  height: 588px;
  box-shadow: 0 0 60px rgba(#686868, 0.19);
  border-radius: $mainBorderRadius;

  @include md {
    height: 720px;
  }

  @include sm {
    // height: 100dvh;
    padding-bottom: 2rem;
  }

  .chat_content_head__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 1px solid $borderColor;

    @include md {
      flex-direction: column;
      gap: 1rem;
    }
  }

  .card_head__ {
    background-color: transparent;
    border-radius: 0;
    // padding: 2rem;
    cursor: pointer;
    gap: 2rem;
    display: flex;
    flex-shrink: 0;
    margin-inline-end: 2rem;

    .name__ {
      color: $primaryColor;
    }

    .img_wrapper__ {
      position: relative;
      min-width: 50px;
      width: 50px;
      height: 50px;
    }

    .figure__ {
      border-radius: 50%;
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .time__ {
      font-size: 1.4rem;
      color: $paragraphMainColor;
      font-weight: 300;
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 16px;
        height: 16px;
        max-width: 16px;
        max-height: 16px;
      }
    }
  }

  .info_wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    @include md {
      justify-content: center;
    }

    @include xs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .person_info {
        width: 100%;
      }
    }
  }

  .chat_content_body__ {
    height: 100%;
    padding: 1rem 2rem;
    border-radius: $mainBorderRadius;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @include xs {
      padding: 2rem 1rem;
    }

    .messages_wrapper__ {
      padding-inline-end: 0.4rem;
      height: 380px;
    }

    .file_upload__ {
      margin-inline-end: 2rem;
      cursor: pointer;
    }
  }
}
