.chat_form__ {
  border: 1px solid $borderColor;
  height: 54px;
  border-radius: $mainBorderRadius;
  overflow: hidden;
  
  .input_wrapper__ {
    display: flex;
    align-items: center;
  }

  .chat_input__ {
    width: 100%;
    height: 54px;
    border: 0;
    outline: 0;
    padding-inline-start: 2rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: $mainBorderRadius;

    &::placeholder {
      color: $paragraphMainColor;
      font-size: 1.4rem;
      transition: 0.5s;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }

  .chat_button__ {
    width: 157px;
    justify-content: center;
    gap: 0;
  }

  &:focus-within {
    border-color: $primaryColor;
  }
}