.custom_dropdown__ {
  position: relative;
  cursor: pointer;
  z-index: 100;

  .dropdown_menu__ {
    position: absolute;
    top: 0;
    width: 100%;
    inset-inline-end: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(#acacac, 0.41);
    overflow: hidden;
    
    @include sm {
      inset-inline-end: unset;
      inset-inline-start: 0;
      width: max-content;
    }

    li {
      a,
      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        font-size: 1.4rem;
        color: $primaryColor;
        padding: 10px 20px;
        height: fit-content;
        width: 100%;

        &::before {
          display: block;
          max-height: 24px;
          max-width: 24px;
        }

        &:hover {
          background-color: $secondaryColor ;
          color: #fff !important;

          &::before {
            filter: brightness(0) invert(1);
          }
        }

        // &.modify__ {
        //   &::before {
        //     content: url("../images/shapes/modify.svg");
        //   }
        // }

        &.delete_button__ {
          color: $redColor;

          &::before {
            content: url("../images/shapes/trash__.svg");
          }

          &:hover {
            background-color: $redColor ;
          }
        }
      }
    }
  }

  &.show {
    .dropdown_menu__ {
      top: calc(100% + 0.5rem);
      opacity: 1;
      visibility: visible;
      // border-start-end-radius: 0;
    }

    .profile_link__ {
      background-color: $secondaryColor;

      .figure__ {
        filter: invert(79%) sepia(15%) saturate(1080%) hue-rotate(353deg) brightness(138%) contrast(87%);
      }

      &::after {
        content: url(../images/shapes/header_profile_arrow_down.svg);
        background-color: #fff;
        transform: translateX(-50%) rotate(180deg);
      }
    }
  }
}
