.details_label__ {
  background-color: $secondaryGreyColor;
  padding: 1.3rem 1.8rem;
  border-radius: 10px;
  
  .label_title__ {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.3rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    margin-bottom: 1.5rem;

    &::before {
      content: '';
      display: block;
      width: 13px;
      height: 13px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid $primaryColor;
      flex-shrink: 0;
    }
  }

  .label_text__ {
    font-size: 1.6rem;
    font-weight: 400;
    color: $headingMainColor;
    margin: 0;
  }

  &.with_margin_bottom {
    margin-bottom: 1.5rem;
  }
}

