.global_card__ {
  padding: 1.7rem 3.3rem;
  background-color: rgba(#fff , 0.1);
  border-radius: $mainBorderRadius;
  transition: 0.5s;
  display: block;

  .card_head__ {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.7rem;
  }

  .img_wrapper__ {
    max-width: 66px;
    max-height: 66px;
    min-width: 66px;
    min-height: 66px;
  }
  
  .figure__ {
    border-radius: 50%;
    padding-bottom: 66px;
    overflow: hidden;
  }

  .name__ {
    font-size: 1.4rem;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 1rem;
  }
  
  .title_rating_wrapper__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    gap: 1rem;

    .name__ {
      margin-bottom: 0;
    }
  }

  .time__ {
    font-size: 1.2rem;
    font-weight: 300;
    color: $paragraphMainColor;
    display: flex;
    align-items: center;
    gap: 1rem;

    .icon__ {
      max-height: 13px;
      max-width: 13px;
      min-height: 13px;
      min-width: 13px;
    }
  }

  .parag__ {
    p {
      font-size: 1.4rem;
      font-weight: 400;
      color: $paragraphMainColor;
      line-height: 1.9;
    }
  }

  &:hover {
    background-color: rgba(#fff , 0.2);
    text-decoration: none;
  }
}