.section_main_title__ {
  font-size: 2.9rem;
  font-weight: 700;
  width: fit-content;
  color: $primaryColor;
  margin-bottom: 3rem;
  
  
  @include xs {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  &.none_margin {
    margin-bottom: 0;
  }

  &.small_margin_bottom__  {
    margin-bottom: 15px;
  }
}

.section_sub_title__ {
  font-size: 1.4rem;
  font-weight: 400;
  color: $paragraphSecondaryColor;
  margin: 0;
  
  @include xs {
    font-size: 1.2rem;
  }
}

.section_head_wrapper {
  margin-bottom: 2.7rem;

  @include sm {
    margin-bottom: 2.4rem;
  }

  @include xs {
    margin-bottom: 1.5rem;
  }

  &.center {
    .section_main_title__,
    .section_sub_title__ {
      text-align: center;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }
  }

  &.flex_display {
    display: flex;
    align-items: center;

    &.justify_content_between {
      justify-content: space-between;
    }
  }

  &.white_color__ {
    .section_main_title__,
    .section_sub_title__ {
      color: #fff;

      &::after , 
      &::before {
        background-color: #fff;
      }
    }
  }

  &.small_size_dir_column {
    @include sm {
      gap: 20px;
      flex-direction: column;
    }
  }

  &.small_size_center__ {
    @include sm {
      .page_main_title__,
      .page_sub_title__ {
        text-align: center;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }
    }
  }

  &.none_margin__ {
    margin: 0 !important;
  }
}

.title_icon_wrapper__ {
  display: flex;
  align-items: center;
  gap: 10px;
}


.section_second_title__ {
  font-size: 1.7rem;
  font-weight: 700;
  color: $primaryColor;
  margin-bottom: 20px;
}