.message__ {
  max-width: 300px;

  .message_content__ {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: $mainBorderRadius;

    &.image_massage__ {
      overflow: hidden;
      padding: 0;
    }
  }

  .time__ {
    font-size: 1.4rem;
    color: #888;
    font-weight: 300;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &.sender__ {
    .message_content__ {
      background-color: $primaryColor;
      color: #fff;
      border-end-start-radius: 0;
    }
  }
  
  &.recipient__ {
    margin-inline-start: auto;
    
    .message_content__ {
      border-start-end-radius: 0;
      color: $secondaryColor;
      background-color: rgba($secondaryColor , 0.15);
    }

    .time__ {
      margin-inline-start: auto;
      width: fit-content;
    }
  }
}