.notification_card {
  background-color: rgba($secondaryColor, 0.05);
  border-radius: $mainBorderRadius;
  padding: 3rem 3.5rem;
  transition: 0.5s;

  .notification_card_head {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    
    .icon__ {
      filter: grayscale(1);
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      min-height: 40px;
    }
  }
  
  .title__ {
    font-size: 1.4rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 1.5rem;
    transition: 0.5s;
  }
  
  .time__ {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: $paragraphSecondaryColor;
    
    .clock_icon__ {
      max-width: 14px;
      max-height: 14px;
      min-width: 14px;
      min-height: 14px;
    }
  }
  
  .parag__ *{
    font-size: 1.4rem;
    line-height: 1.8;
    font-weight: 500;
    color: $paragraphSecondaryColor;
  }

  &:hover {
    background-color: rgba($secondaryColor, 0.08);
  }
  
  &.not_seen {
    background-color: rgba($primaryColor, 0.05);

    .icon__ {
      filter: unset;
      position: relative;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $primaryColor;
        border-radius: 50%;
        top: 15px;
        inset-inline-start: 3px;
      }
    }

    .title__ {
      color: $primaryColor;
    }

    &:hover {
      background-color: rgba($primaryColor, 0.1);
    }
  }
}