.package_info_wrapper__ {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
  margin-bottom: 3rem;

  @include sm {
    gap: 3rem;
  }

  @include xs {
    gap: 1.5rem;
  }
  
  .package_info__ {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &.with_background {
      background-color: rgba($primaryColor, 0.12);
      padding: 3rem;
      border-radius: $mainBorderRadius;
      width: 194px;
    }
  }

  .info_head__ {
    font-size: 1.6rem;
    font-weight: 400;
    color: $headingMainColor;
  }

  .value__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primaryColor;
  }

  &.center {
    justify-content: center;
  }

  &.small_gap {
    gap: 2.5rem;
  }
}