.package_card {
  background-color: rgba($secondaryColor , 0.05);
  padding: 3rem;
  border-radius: $mainBorderRadius;

  .figure__ {
    max-width: 62px;
    max-height: 62px;
    min-width: 62px;
    min-height: 62px;
    margin-bottom: 1.5rem;
  }

  .title__ {
    font-size: 2.1rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 2rem;
  }
}