.person_info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  background-color: $secondaryGreyColor;
  padding: 0.8rem 1.5rem;
  height: 43px;
  font-size: 1.2rem;
  font-weight: 500;
  color: $headingMainColor;
  border-radius: $mainBorderRadius;
  letter-spacing: -0.7px;
}