.person_card__ {
  box-shadow: 0 0 60px rgba(#686868, 0.19);
  border-radius: $mainBorderRadius;
  overflow: hidden;
  padding: 3.3rem 1.6rem 2.8rem 1.6rem;
  cursor: pointer;

  .info_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    @include xs {
      grid-template-columns: 1fr;
    }

    .person_info {
      width: 100%;

      img {
        max-width: 15px;
        max-height: 15px;
      }
    }
  }

  .person_name__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $headingMainColor;
    margin-bottom: 2.2rem;
    text-align: center;
  }
}
