.perosn_details_wrapper {
  .details_title__ {
    font-size: 1.6rem;
    font-weight: 700;
    color: $primaryColor;
    margin-bottom: 1.7rem;
  }

  .details_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}