.person_img_wrapper {
  border-radius: 50%;
  max-width: 132px;
  max-height: 132px;
  width: 132px;
  height: 132px;
  overflow: hidden;
  padding: 12px;
  margin: 0 auto;
  border: 3px solid $primaryColor;
  border-bottom-color: transparent;
  border-left-color: transparent;
  flex-shrink: 0;


  &.none_margin {
    margin: 0;
  }  

  @include dir {
    border-left-color: $primaryColor;
    border-right-color: transparent;
    
  }
  
  .figure__ {
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
}