.search_controlers_wrapper__ {
  display: flex;
  align-self: center;
  column-gap: 3.7rem;
  row-gap: 1rem;
  margin-bottom: 5rem;

  @include md {
    margin-bottom: 3rem;
  }


  @include xs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
  }

  .title__ {
    font-size: 1.4rem;
    font-weight: 700;
    color: $headingMainColor;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}